{% extends "layout.html" %}
{% set title = "Отзывы" %}
{% set breadcrumbs = ["Главная"] %}


{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-xxl-10 mx-auto grid-xxl-cols-10">
            {% for i in range(0,8) %}
            <div class="mb-5"
                data-aos="fade-up" 
                data-aos-duration="800" 
                data-aos-offset="000"
                data-aos-once="true"
                >
                <div class="review">
                    В совершенстве владеет корейским (также как и русским)). Отлично ориентируется в Сеуле и не только, помимо этого были еще с ним в Чханвоне и проездом в Пусане. Очень пунктуален, общительный, отличный рассказчик, знает много о культуре Корее и о местных обычаях. Знает все места где можно сделать удачные фотки. Хорошо составил маршрут нашего передвижения, обошли практически все местные достопримечательности не смотря на сжатые сроки, все таки это была служебная командировка. Успели даже заглянуть ему в гости в дом где он живет. Так сказать посмотрели на жизнь сеульца изнутри) В общем рекомендую. В совершенстве владеет корейским (также как и русским)). Отлично ориентируется в Сеуле и не только, помимо этого были еще с ним в Чханвоне и проездом в Пусане. Очень пунктуален, общительный, отличный рассказчик, знает много о культуре Корее и о местных обычаях. Знает все места где можно сделать удачные фотки. Хорошо составил маршрут нашего передвижения.
                    <div class="review__author">
                        <div>Руслан</div>
                        <div>(Сеул, Чханвон, Южная Корея)</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> <!--/grid-xxl-cols-10-->
    </div>
</div>
{% endblock %}