.quote-line {
    border-left: 4px solid $primary;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 15px;
}

blockquote {
    border-left: 4px solid $primary;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 15px;
}