.tippy {
    &-box {
        background: #fff;
        border: 1px solid #dae3ea;
        box-shadow: 0px 5px 4px rgba(12, 115, 254, 0.08);
        border-radius: 5px;
        color: $black;
    }
    &-content {
        padding: 5px 10px;
    }
}