<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-none d-lg-block">
                <div class="footer__logo">
                    <img src="./assets/img/logo-footer.svg" alt="">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 col-lg-9 d-none d-xl-block">
                        <nav class="footer__nav">
                            <a href="/">Главная</a>
                            <a href="/about.html">Обо мне</a>
                            <a href="/turs.html">Экскурсии</a>
                            <a href="/blog.html">Блог</a>
                            <a href="/contacts.html">Контакты</a>
                        </nav>
                    </div>
                    <div class="col-12 col-xl-3 text-center text-xl-right">
                        <div class="soc-media-links">
                            <a href="#" target="_blank" data-tippy-content="Instagram" data-tippy-placement="right-end" data-tippy-offset="[16,0]">
                                <svg width="26" height="26" viewBox="0 0 26 26"> 
                                    <use xlink:href="#svgInstagram" x="0" y="0" />
                                </svg>
                            </a>
                            <a href="#" target="_blank" data-tippy-content="Apple Podcasts" data-tippy-placement="right-end" data-tippy-offset="[16,0]">
                                <svg width="24" height="27" viewBox="0 0 24 27"> 
                                    <use xlink:href="#svgApplePod" x="0" y="0" />
                                </svg>  
                            </a>
                            <a href="#" target="_blank" data-tippy-content="Яндекс Подкаст" data-tippy-placement="right-end" data-tippy-offset="[16,0]">
                                <svg width="25" height="25" viewBox="0 0 25 25"> 
                                    <use xlink:href="#svgYandexPod" x="0" y="0" />
                                </svg>  
                            </a>
                            <a href="#" target="_blank" data-tippy-content="Google Podcasts" data-tippy-placement="right-end" data-tippy-offset="[16,0]">
                                <svg width="26" height="26" viewBox="0 0 26 26"> 
                                    <use xlink:href="#svgGooglePod" x="0" y="0" />
                                </svg>  
                            </a>
                            <a href="#" target="_blank" data-tippy-content="Яндекс Дзен" data-tippy-placement="right-end" data-tippy-offset="[16,0]">
                                <svg width="25" height="25" viewBox="0 0 25 25"> 
                                    <use xlink:href="#svgYandexDzen" x="0" y="0" />
                                </svg>  
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto footer__copyright">
                        © 2021 ГИД В СЕУЛЕ 
                    </div>
                    <div class="col footer__policy">
                        Политика <a href="#">конфиденциальности</a> и&nbsp;<a href="#">защиты информации</a>
                    </div>
                </div>
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</footer>
