<div class="main-order-button">
    <button class="main-order-button__btn animation-blick">
        <img class="main-order-button__btn-icon" src="./assets/img/icon-compass-white.svg" alt="icon-compass">
        Заказать экскурсию
        <svg class="main-order-button__btn-chevron" width="17" height="10" viewBox="0 0 17 10" fill="white"> 
            <use xlink:href="#svgChevronDown" x="0" y="0" />
        </svg>
    </button>
    <ul class="main-order-button__methods" style="display:none;">
        <li style="opacity: 0;">
            <a href="https://t.me/guideinseoul" target="blank"><img src="./assets/img/icon-telegram-white.svg" alt=""></a>
        </li>
        <li style="opacity: 0;">
            <a href="https://wa.me/+821039230726" target="blank"><img src="./assets/img/icon-whatsapp-white.svg" alt=""></a>
        </li>
        <li style="opacity: 0;">
            <a href="tel:+821039230726"><img src="./assets/img/icon-phone-white.svg" alt=""></a>
        </li>
    </ul>
</div>