<script src="./assets/vendor/lazyload.min.js"></script>
<script src="./assets/vendor/jquery-3.5.1.min.js"></script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="./assets/js/script-lazyload.min.js?ver=33333"></script>

<script src="./assets/js/popup.min.js?ver=33333"></script>
<script src="./assets/js/script-tippy.min.js?ver=33333"></script>
<script src="./assets/js/main.min.js?ver=33333"></script>
